<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551782986718-3gne0ri31sl3l4s7r18pad68e2tvmnei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551782986718-3gne0ri31sl3l4s7r18pad68e2tvmnei</string>
	<key>API_KEY</key>
	<string>AIzaSyCoigiNv51vBxEqYM_M5Myiy0gCd39vLzA</string>
	<key>GCM_SENDER_ID</key>
	<string>551782986718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.day34</string>
	<key>PROJECT_ID</key>
	<string>sfac-day34-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>sfac-day34-assignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551782986718:ios:4292327de5f56cb622a34f</string>
</dict>
</plist>